.container {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    
}
.button-container{
    display: flex;
    justify-content: space-between;
}

.number {
    border: 2px solid red;
    text-align: center;
}
